
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Categories</h1>
            <div class="list-group">
                <!--Old code is in controller-->
                @Html.ActionLink("All Products", "AllProducts", "Product", null, new { @class = "list-group-item" })
                @foreach (var item in ViewBag.CategoryItems)
                {
                    string title = item.Name.ToString();
                    string titleAction = "Show";
                    @Html.ActionLink(title, titleAction, "Product", new { id = @item.Id.ToString() }, new { @class = "list-group-item" })
                }

            </div>
            <h3>Sort by: </h3>
            <div class="list-group">
                @Html.ActionLink("Name", "Sale", new { sortOrder = ViewBag.NameSortParm }, new { @class = "list-group-item" })
                @Html.ActionLink("Price", "Sale", new { sortOrder = ViewBag.PriceSortParm }, new { @class = "list-group-item" })
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <!-- /.row -->
            <div class="row">
                <div class="row top-buffer"></div>

                @{ var counter = 1; }

                @foreach (var product in ViewBag.ProductsList)
                {

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("ProductDetails", "Product", product)"><img height="200" width="200" class="img-responsive" src="~/Content/Images/Products/@product.ImageUrl" alt="@product.Name"></a>
                            <div class="text-center">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="@Url.Action("ProductDetails", "Product", product)">@product.Name</a>
                                    </h4>
                                    <h5> &euro;@product.Price </h5>
                                    @if (product.Discount > 0)
                                    {
                                        <h5 class="discount">With a discount of &euro;@product.Discount</h5>
                                    }
                                    else
                                    {
                                        <h5>No discount</h5>
                                    }



                                    @using (Html.BeginForm("AddProduct", "Cart", FormMethod.Post))
                                    {
                                        <a href="@Url.Action("ProductDetails", "Product", product)" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                            <span>View</span>
                                        </a>

                                        <input type="text" name="productID" value=@product.Id hidden />
                                        <input type="text" name="quantity" value="1" hidden />
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                                    }
                                </div>
                                <div class="bottom-buffer-product"></div>
                            </div>
                        </div>
                    </div>
                    if (counter % 3 == 0)
                    {
                        @:</div><div class="row"><div class="top-buffer"></div></div>
                        counter = 0;
                    }
                    counter++;

                }


            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
